In [1]:
import pandas as pd
import numpy as np

pd.options.display.max_columns = 100

In [33]:
df = pd.read_csv("the-movies-dataset/movies_metadata.csv")

/home/vaibhav/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [34]:
df.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [35]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [36]:
len(df)

45466

In [37]:
links_small = pd.read_csv('the-movies-dataset/links_small.csv')

In [38]:
links_small.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [39]:
links_small = links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')

In [40]:
df = df.drop([19730, 29503, 35587])
df['id'] = df['id'].astype('int')
df = df[df['id'].isin(links_small)]
df.shape

(9099, 24)

In [41]:
credits = pd.read_csv("the-movies-dataset/credits.csv")
keywords = pd.read_csv("the-movies-dataset/keywords.csv")

In [42]:
credits['id'] = credits['id'].astype('int')
keywords['id'] = keywords['id'].astype('int')

In [43]:
df = df.merge(credits, on = 'id')

In [44]:
df = df.merge(keywords, on = 'id')

In [45]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'cast', 'crew', 'keywords'],
      dtype='object')

In [46]:
df.drop(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'video',
       'vote_average', 'vote_count'], inplace = True, axis = 1)

In [47]:
df.head()

,id,overview,tagline,title,cast,crew,keywords
0,862,"Led by Woody, Andy's toys live happily in his ...",NaN,Toy Story,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,8844,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,Jumanji,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,15602,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,31357,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,Waiting to Exhale,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,11862,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [48]:
df.to_csv('compiled.csv')

In [49]:
from ast import literal_eval

df['cast'] = df['cast'].apply(literal_eval)
df['keywords'] = df['keywords'].apply(literal_eval)
df['crew'] = df['crew'].apply(literal_eval)

In [50]:
from nltk.stem.snowball import SnowballStemmer

stemmer = SnowballStemmer('english')

In [51]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan


def list_to_str(x):
    list1 = x
    str1 = ''.join(str(e)+" " for e in list1)
    return str1

In [52]:
df['cast'] = df['cast'].apply(lambda x: [i['name'] for i in x] if(isinstance(x, list)) else [])
df['cast'] = df['cast'].apply(lambda x: x[:3])
df['director'] = df['crew'].apply(get_director)
df['keywords'] = df['keywords'].apply(lambda x: [i['name'] for i in x] if(isinstance(x, list)) else [])

In [53]:
s = df.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'keyword'
s = s.value_counts()
s = s[s > 1]

def filter_keywords(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words

df['keywords'] = df['keywords'].apply(filter_keywords)
df['keywords'] = df['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
df['keywords'] = df['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [54]:
df['director'] = df['director'].apply(lambda x: [x])
keywords = df['cast'] + df['director'] + df['keywords']

In [55]:
def listtostr(x):
    s = ""
    for i in x:
        s += str(i)
        s += " "
    return s.rstrip()

In [69]:
df['tagline'] = df['tagline'].apply(lambda x: x.split() if type(x) == str else "")

In [70]:
df['tagline']

0
1       [Roll, the, dice, and, unleash, the, excitement!]
2       [Still, Yelling., Still, Fighting., Still, Rea...
3       [Friends, are, the, people, who, let, you, be,...
4       [Just, When, His, World, Is, Back, To, Normal....
                              ...
9214
9215    [Decorated, Officer., Devoted, Family, Man., D...
9216
9217               [A, god, incarnate., A, city, doomed.]
9218     [The, band, you, know., The, story, you, don't.]
Name: tagline, Length: 9219, dtype: object

In [24]:
df['soup'] = keywords

In [25]:
df['soup'] = df['soup'].apply(listtostr)

In [26]:
df['soup'][0]

'Tom Hanks Tim Allen Don Rickles John Lasseter jealousi toy boy friendship friend rivalri boynextdoor newtoy toycomestolif'

In [27]:
df.head()

,id,overview,tagline,title,cast,crew,keywords,director,soup
0,862,"Led by Woody, Andy's toys live happily in his ...",NaN,Toy Story,"[Tom Hanks, Tim Allen, Don Rickles]","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[jealousi, toy, boy, friendship, friend, rival...",[John Lasseter],Tom Hanks Tim Allen Don Rickles John Lasseter ...
1,8844,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,Jumanji,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[boardgam, disappear, basedonchildren'sbook, n...",[Joe Johnston],Robin Williams Jonathan Hyde Kirsten Dunst Joe...
2,15602,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,"[Walter Matthau, Jack Lemmon, Ann-Margret]","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[fish, bestfriend, duringcreditssting]",[Howard Deutch],Walter Matthau Jack Lemmon Ann-Margret Howard ...
3,31357,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,Waiting to Exhale,"[Whitney Houston, Angela Bassett, Loretta Devine]","[{'credit_id': '52fe44779251416c91011acb', 'de...","[basedonnovel, interracialrelationship, single...",[Forest Whitaker],Whitney Houston Angela Bassett Loretta Devine ...
4,11862,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,"[Steve Martin, Diane Keaton, Martin Short]","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[babi, midlifecrisi, confid, age, daughter, mo...",[Charles Shyer],Steve Martin Diane Keaton Martin Short Charles...

In [28]:
soup = df[['id', 'title', 'soup']]

In [29]:
soup.head()

,id,title,soup
0,862,Toy Story,Tom Hanks Tim Allen Don Rickles John Lasseter ...
1,8844,Jumanji,Robin Williams Jonathan Hyde Kirsten Dunst Joe...
2,15602,Grumpier Old Men,Walter Matthau Jack Lemmon Ann-Margret Howard ...
3,31357,Waiting to Exhale,Whitney Houston Angela Bassett Loretta Devine ...
4,11862,Father of the Bride Part II,Steve Martin Diane Keaton Martin Short Charles...

In [30]:
soup.to_csv("soup.csv")

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity

In [32]:
count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
count_matrix = count.fit_transform(soup['soup'])

In [33]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [35]:
df = df.reset_index()
titles = df['title']
indices = pd.Series(df.index, index=df['title'])

In [36]:
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [37]:
get_recommendations("The Dark Knight").head(10)

8031                 The Dark Knight Rises
6218                         Batman Begins
6623                          The Prestige
1134                        Batman Returns
7659            Batman: Under the Red Hood
2131                              Superman
9024    Batman v Superman: Dawn of Justice
524                                 Batman
8419                          Man of Steel
2132                           Superman II
Name: title, dtype: object

In [38]:
import pickle

In [ ]:
with open("model.pickle", "wb") as f:
    pickle.dump(cosine_sim, f)